<h1>CALCOLATRICE ANGULAR</h1>

<div class="componenteprinc">
  <h1>COMPONENTE PRINCIPALE</h1>
  <p>numero 1</p>
  <input [(ngModel)] = "num1" type="number" placeholder="inserisci un numero qui">
  <p>numero 2</p>
  <input [(ngModel)] = "num2" type="number" placeholder="inserisci un numero qui">
  <div>
    <button (click)="sum()">+</button>
    <button (click)="sot()">-</button>
    <button (click)="per()">*</button>
    <button (click)="div()">/</button>
  </div>
</div>
<br>
<br>


<div class="componenteris">
  <h1>COMPONENT APP-RIS</h1>
  <p>risultato tra {{num1}} e {{num2}} = {{risultato}} </p>
</div>